@model List<GudangWebApp.Models.Barang>

@{
    ViewData["Title"] = "Daftar Barang";
}

<h2>@ViewData["Title"]</h2>

<a asp-action="Create" class="btn btn-primary mb-3">Tambah Barang</a>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Kode</th>
            <th>Nama Barang</th>
            <th>Stok</th>
            <th>Kategori</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.KodeBarang</td>
                <td>@item.NamaBarang</td>
                <td>@item.JumlahStok</td>
                <td>@item.Kategori</td>
            </tr>
        }
    </tbody>
</table>